.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 180px;
  height: 280px;
  margin: 10px auto;
  padding: 0 10px;
  text-align: center;
  font-family: arial;
  background-color: rgba(251, 245, 107, 0.8);
  border-radius: 30px;
}

.container h1 {
  font-size: 18px;
  color: black;
}

.link { 
  text-decoration: none;
  outline: 0;
  padding: 8px;
  text-align: center;
  width: 100%;
}


.container img {
  padding: 5px 0 5px 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.location {
  padding: 5px;
}

.location:hover {
  background-color: rgba(43, 44, 42, 0.7);
  color: #fff;
  border-radius: 20px;
}